<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamper</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <header>
        <h1>Timestamper Microservice</h1>
        <hr>
    </header>
    <section>
        <p>Example use : /api/2015-12-25</p>
        <p>Example Output : {"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</p>
    </section>
    <footer>
        <hr>
        <h3>Made by Roche Stapelberg for FreeCodeCamp Back End Development and APIs certificate</h3>
    </footer>
</body>
</html>